body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
    margin: 0;
    padding: 0;
}
form.login-container {
            background-color: #8FBC8F; /* Cor de fundo verde */
            padding: 50px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin: 30px auto; /* Centraliza horizontalmente */
            text-align: center;
            max-width: 300px; /* Define uma largura máxima para o contêiner */
        }

h2 {
    color: #333;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
