.user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Torna a imagem circular */
    overflow: hidden; /* Recorta a imagem fora do círculo */
    margin: 0 auto;
}

.user-avatar img {
    width: 100%;
    height: auto;
    display: block;
}
   .text-right{
    margin-right: 100px;
  }
  .text-left {
    margin-left: 100px;
  }
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.a1 {font-size: 20px;}
.a2 {font-size: 35px;
width: 500px;}
.a3{
  color: #2D692F;
}

.green-box {
  background-color: #a2e665; /* Cor de fundo verde claro */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 100%; /* Ocupar 100% da largura da página */
}
.center-text {
    text-align: center;
  }
.green-button {
    margin-left: 130px;
    display: inline-block;
    padding: 10px 60px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  .green-button:hover {
    transform: scale(1.1);
  }
  .right-image {
    display: inline-block;
    float: right;
    margin-right: 20px;
  }
  .aa {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: transform 0.4s ease-in-out, color 0.3s;
  }

.aa:hover {
    transform: scale(1.1);
    color: #1d4f20; 
  }
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 5px 0;
  transition: top 0.3s;
  z-index: 1;
}

/* Estilos para a imagem no canto esquerdo */
.navbar img {
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 15px;
  border-radius: 50%;
  overflow: hidden;
}

/* Estilos para a borda em degradê */
.border-gradient {
  position: fixed;
  top: 0; /* Posição vertical inicial da borda */
  left: 0;
  width: 100%;
  height: 120px; /* Altura da borda */
  background-image: linear-gradient(to bottom, #333, transparent); /* Degradê */
  z-index: 0;
}

  /* Estilos para o texto ao lado da logo */
  .navbar .logo-text {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
  }

  /* Estilos para os links na navbar */
  .navbar a {
    letter-spacing: 2px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, font-size 0.3s; /* Adiciona uma transição suave para a mudança de cor de fundo */
  }

    .navbar a:hover {
    font-size: 18px; /* Tamanho maior da letra ao passar o mouse */
  }

  /* Estilo quando o mouse passa por cima dos links na navbar */

  /* Estilo para os botões na navbar */
  .navbar .button {
    background-color: #2e8540; /* Cor de fundo dos botões */
    color: white;
    border: none;
    border-radius: 20px; /* Faz os botões ficarem arredondados */
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1); /* Adiciona uma transição suave para a mudança de cor de fundo */
  }

  /* Estilo quando o mouse passa por cima dos botões na navbar */
  .navbar .button:hover {
    background-color: darkgreen; /* Nova cor de fundo ao passar o mouse */
  }

  /* Estilo para o botão "Entrar" */
  .navbar .login-button {
    background-color: transparent; /* Cor de fundo transparente */
    color: #4CAF50; /* Cor do texto do botão "Entrar" */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor do texto */
  }

  /* Estilo quando o mouse passa por cima do botão "Entrar" na navbar */
  .navbar .login-button:hover {
    color: darkgreen; /* Nova cor do texto ao passar o mouse */
  }
  .scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #4CAF50; /* Cor do círculo */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white; /* Cor da seta */
}

.contact-support {
  background-color: #ccc;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.contact-content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #1b5e20;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #13532d;
}

.user-info {
    display: inline-block;
    position: relative;
}

.logout-button {
    display: none;
    position: absolute;
    top: 20px; /* Ajuste a posição conforme necessário */
    right: 0;
    color: darkgreen; /* Cor do texto do botão de sair */
    text-decoration: none;
}

.user-info:hover .logout-button {
    display: block;
}

.user-info {
  display: flex;
  align-items: center;
}

/* Estilo do nome de usuário */
.user-name {
  margin-right: 10px;
}

/* Estilo do botão Sair */
.logout-button {
  background-color: #8B0000; /* Vermelho escuro */
  color: #fff; /* Cor do texto */
  padding: 5px 10px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 10px; /* Borda arredondada */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.logout-button:hover {
  background-color: #6B0000; /* Vermelho escuro mais escuro no hover */
}

.container {
    width: 80%;
    margin: 0 auto;
}

#user-info, #agendamento-info {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-info h1, #agendamento-info h2 {
    color: #333;
    font-size: 28px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#user-info h2 {
    color: #4CAF50;
}

#user-info p, #agendamento-info p {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

#user-info p:first-child {
    margin-top: 0;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.border-gradient {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #4CAF50, #45a049);
}